node_modules/

/colorwebsite/build

.DS_Store
/colorwebsite/.env.local
/colorwebsite/.env.development.local
/colorwebsite/.env.test.local
/colorwebsite/.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
