.custom-shape-divider-bottom-1606045216 {
  position: absolute;
  bottom: 0;
  left: 0;
  top: 0;
  height: 540px;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
  z-index: -1;
}

.custom-shape-divider-bottom-1606045216 svg {
  position: relative;
  display: block;
  width: calc(137% + 1.3px);
  height: 106px;
  z-index: 999;
}

.custom-shape-divider-bottom-1606045216 .shape-fill {
  z-index: 10000;
}
.navbar_style {
  width: 100%;
}
.copy_btn {
  margin-bottom: 8rem;
  padding: 0 40px;
}
.main_btn {
  display: flex;
  /* flex-direction: column; */
  width: 100%;
  flex-wrap: wrap;
}
.main_btn div {
  flex: 1 1 40%;
  width: 100%;
  height: 148px;
  position: relative;
  margin-top: 50px;
  margin-bottom: 8px;
  padding: 50px 0;
  text-align: center;
  margin-right: 40px;
  border-radius: 10px;
}
.main_btn div p {
  margin-bottom: 0.2rem !important;
  font-family: cursive !important;
}
.copied {
  top: -35px;
  position: absolute;
  top: -50px;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  width: 100px;
  padding: 9px;
  /* padding-top: 53px; */
  text-align: center;
  /* padding: 8px; */
  color: #fff;
  background: purple;
  border-radius: 9px;
}
.copied::before {
  content: '';
  position: absolute;
  background: purple;
  width: 20px;
  left: 39px;
  top: 24px;
  height: 20px;
  transform: rotate(45deg);
  z-index: -99999999;
}

@media (max-width: 500px) {
  .main_btn {
    flex-direction: column !important;
  }
}

/* .navbar_style .navbar-brand {
  color: #ffffff;
} */
/* .navbar_style .nav-link {
  color: #ffffff;
} */
/*    */
.temp_btn {
  z-index: 1000;
  padding: 5px 12px;
  border-radius: 21px;
  border: none;
  box-shadow: 0 1px 3px 1px rgba(60, 64, 67, 0.15),
    0 1px 2px 0 rgba(60, 64, 67, 0.3);
}
@media (max-width: 992px) {
  .navbar_style {
    z-index: 0;
  }
}
.temp_cardicon {
  /* background: linear-gradient(296deg, #ff0a21f2 0%, #d53 99%); */
  padding: 7px;
  color: #fff !important;
  box-shadow: 0 1px 3px 3px rgba(60, 64, 67, 0.15), 0 1px 2px 0 rgb(255 255 255);
  border-radius: 50%;
  font-size: 46px !important;
}
.our_teamimg {
  height: 168px;
  width: 158px;
  border-radius: 50%;
}
