.navbar {
  /* background-color: inherit; */
  box-shadow: 0 10px 20px -7px rgba(160, 44, 219, 0.07);
}
.nav__row {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.11) 0 0 0 1px;
}
.logo__img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
}
.nav-link {
  font-size: 1.2rem;
  font-weight: 500;
  margin: 0px 4px;
}
.nav-link:hover {
  color: var(--primary-color1) !important;
}
.active {
  color: var(--primary-color1) !important;
}
.ham__icon {
  outline-width: 0 !important;
  border: none !important;
}
.icon__button:focus {
  outline-width: 0;
}
