.palette_div {
  display: flex;
  width: 100%;
  /* height: 100%; */
  border: 3px solid;
  padding: 8px;
  margin: 25px 0;
  justify-content: center;
}
.palette_div_item {
  width: 30px;
  height: 30px;
  border: 3px solid #000;
  border-radius: 30px;
  background-color: #fff;
  cursor: pointer;
}
